<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{84,78}}</string>
                <key>offset</key>
                <string>{-19,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,20},{84,78}}</string>
                <key>sourceSize</key>
                <string>{156,110}</string>
            </dict>
            <key>attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,180},{100,56}}</string>
                <key>offset</key>
                <string>{-20,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,29},{100,56}}</string>
                <key>sourceSize</key>
                <string>{156,110}</string>
            </dict>
            <key>attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,102},{110,76}}</string>
                <key>offset</key>
                <string>{-21,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,20},{110,76}}</string>
                <key>sourceSize</key>
                <string>{156,110}</string>
            </dict>
            <key>attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{98,96}}</string>
                <key>offset</key>
                <string>{-25,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,12},{98,96}}</string>
                <key>sourceSize</key>
                <string>{156,110}</string>
            </dict>
            <key>attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{92,110}}</string>
                <key>offset</key>
                <string>{-20,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{92,110}}</string>
                <key>sourceSize</key>
                <string>{156,110}</string>
            </dict>
            <key>attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,94}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{138,94}}</string>
                <key>sourceSize</key>
                <string>{156,110}</string>
            </dict>
            <key>attack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,238},{54,34}}</string>
                <key>offset</key>
                <string>{47,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,39},{54,34}}</string>
                <key>sourceSize</key>
                <string>{156,110}</string>
            </dict>
            <key>d_20xiao_zhadan.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,457},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>d_baibaoxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,410},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>d_huanse.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,457},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>d_jifenqingsuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,410},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>d_jifenzengjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,435},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>d_sanxiao_zhadan.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,435},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>d_shizhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,388},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>d_shizi_zhadan.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,388},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>d_tongse_zhadan.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,363},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>d_zhadan.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,363},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>hurt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{40,46}}</string>
                <key>offset</key>
                <string>{-17,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{40,46}}</string>
                <key>sourceSize</key>
                <string>{74,100}</string>
            </dict>
            <key>hurt_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,238},{54,76}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,11},{54,76}}</string>
                <key>sourceSize</key>
                <string>{74,100}</string>
            </dict>
            <key>hurt_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,274},{40,46}}</string>
                <key>offset</key>
                <string>{15,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,54},{40,46}}</string>
                <key>sourceSize</key>
                <string>{74,100}</string>
            </dict>
            <key>s_fanqie.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,455},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>s_fanqie_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>s_lanmei.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,341},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>s_lanmei_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,361},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>s_qiezi.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,341},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>s_qiezi_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,316},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>s_tudou.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,316},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>s_tudou_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,294},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>s_xigua.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>s_xigua_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,294},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>item.png</string>
            <key>size</key>
            <string>{240,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e888d64f30486cbb72617f23e4806108$</string>
            <key>textureFileName</key>
            <string>item.png</string>
        </dict>
    </dict>
</plist>
